@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f5f5f5;
}

button {
    border: 0;
    border-radius: 5px;
    padding: 1px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* ESTILOS NAV Y HEADER */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 20px;
}

.logo-ada {
    width: 25px;
    margin-right: 10px;
}

.div-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-carrito {
    font-size: 15px;
    margin: 0;
    background-color: transparent;
}

.boton-carrito > i {
    font-size: 20px;
    margin-right: 10px;
}

.header {
    position: relative;
}

.img-banner {
    width: 100%;
}

.titulo-banner {
    color: #fafafa;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -160px;
    margin-top: -15px;
    z-index: 1;
}

.overlay-banner {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* CONTENEDOR PPAL */

.contenedor-principal {
    display: flex;
    margin-top: 80px;
}

/* ASIDE */

#aside {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;  
}

.cerrar-filtros-query {
    display: none;
}

.boton-limpiar-filtros {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.contenedor-filtro {
    padding: 15px 35px;
    display: flex;
    flex-direction: column;
    
}

.contenedor-titulo-filtros {
    display: flex;
    justify-content: space-between;
}

.elemento-aside {
    width: 100px;
    height: 80px;
    margin: 5px;
}

.input-busqueda {
    background-color: transparent;
    line-height: 40px;
    border: 0;
    border-bottom: 2px solid #000000;
    height: 40px;
    width: 100%;
    max-width: 300px;
}

.fas.fa-search {
    position: relative;
    left: 170px;
    bottom: 30px;
    font-size: 18px;
}

.fas.fa-star, .far.fa-star {
    color: #ffe139;
}

.contenedor-estrellas {
    display: flex;
}

/* CONTENEDOR SECUNDARIO CON LAS TARJETAS DE PRODUCTO */
    /* BARRA OPCIONES */

.contenedor-secundario {
    width: 85vw;
}

.barra-opciones {
    background-color: #ffffff;
    margin: 0 10px 10px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-ver-como {
    display: flex;
}

.boton-vista {
    background-color: transparent;
    margin-top: 0;
}

.boton-vista > i {
    font-size: 20px;
    margin-left: 15px;
}

    /* FIN BARRA OPCIONES, ARRANCAN PRODUCTOS */

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
}

.tarjeta {
    margin: 5px;
    flex: 1 1 300px;
    background-color: #ffffff;
    width: 270px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    margin: 10px;
    padding: 30px 25px;
    flex-grow: 1; 
    transition: box-shadow 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caracteristicas-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta:hover {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);;
}

.contenedor-imagen-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    overflow: hidden;
}

.imagen-producto {
    width: auto;
    height: 100%;
    transition: 0.8s;
}

.imagen-producto:hover {
    transform: scale(1.5);
}

/* FOOTER */

.footer {
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 40px 10px 30px;
    margin-top: 80px;
    font-size: 14px;
}

/* CARRITO DESPLEGABLE */
.contenedor-carrito {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 400px;
    padding: 20px;
    background-color: #f5f5f5;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.contenedor-titulo-carrito {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    height: 5%;
}

.cantidad-de-productos {

}

.contenedor-tarjetas-producto {
    display: flex;
    flex-direction: column;
}

.producto-carrito {
    display: flex;
}

//////////////////////////////////////

.producto-carrito {
    display: block;
    width: 30%;
}

.imagen-carrito {
    display: block;
    width: 30%;
}

.overlay-carrito{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.boton-cerrar-carrito {
    font-size: 20px;
    cursor: pointer;
}

.info-compra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    margin-bottom: 20px;
}

.boton-compra {
    width: 100%;
    background-color: #13c519;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    transition: .3s;
}

.boton-vaciar {
    width: 100%;
    background-color: transparent;
    padding: 15px;
    border: 1px solid #b41313;
    border-radius: 5px;
    color: #b41313;
}

.boton-compra:hover {
    background-color: #13c519;
}

.boton-vaciar:hover {
    background-color: #b41313;
    color: white;
}

/* CHECKOUT */

.contenedor-checkout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 700px;
    padding: 40px 30px;
    background-color: #fafafa;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.menu-checkout {
    display: flex;
}

.overlay-checkout {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
}

.datos-personales, .opciones-pago {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px;
}

.contenedor-info-checkout {
    display: flex;
    justify-content: space-around;
    height: 80%;
}

.contenedor-datos {
    padding: 10px;
    width: 100%;
    padding-right: 30px;
}

.contenedor-resumen {
    background-color: #dadada;
    padding: 20px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-datos-personales, .titulo-opciones-de-pago {
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtotal-resumen, .total-resumen {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#nombre-usuario, #email-usuario {
    background-color: transparent;
    line-height: 40px;
    border: 0;
    border-bottom: 2px solid #000000; 
}

.confirmacion-compra {
    height: 20%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#seguir.comprando {
    height: 60px;
    width: 220px;
    padding: 0 15px;
    border-radius: 5px;
    color: transparent;
    font-size: 14px;
    background-color: transparent;
    transition: .3s;
}

#finalizar-compra {
    height: 60px;
    width: 220px;
    padding: 0 25px;
    border: none;
    border-radius: 5px;
    color: #3e434b;
    margin-left: 30px;
    font-size: 14px;
    background-color: #13c519;
    color: white;
    transition: .3s;
}

#seguir.comprando:hover {
    background-color: #dadada;
}

#finalizar-compra:hover {
    background-color: #13c519d7;
}

/* MODAL VACIAR */

.overlay-vaciar {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
}

.vaciar-contenedor {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    
}

.vaciar-carrito {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -400px;
    margin-top: -150px;
    z-index: 4;
}

.vaciar-carrito > p {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
}

.contenedor-botones-vaciar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#cancelar-vaciar {
    width: 46%;
    padding: 20px 40px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: transparent;
    transition: .3s;
}

#vaciar {
    width: 46%;
    padding: 20px 40px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #b41313;
    color: white;
    transition: .3s;
}

#cancelar-vaciar:hover {
    background-color: #dadada;
}

#vaciar:hover {
    background-color: #b41313;
}

/* GRILLA O LISTA */
.vista-lista {
    flex-direction: column;
}
.vista-grilla {
    display: flex;
    width: 100%;
}


/* MEDIA QUERY */

/* // Extra small devices (portrait phones, less than 576px)
*/
@media (max-width: 575.98px) {
    .contenedor-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aside {
        height: 100vh;
        max-width: 270px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;
        transform: translateX(100%);
        background-color: #ffffff;
        margin: 0%;
    }

    .contenedor-ver-como {
        display: none;
    }

    .boton-filtros-query {
        display: flex;
    }

    .filtros-query {
        display: inline-block;
        background-color: transparent;
      }

    .mostrar-filtros-query {
        transform: translateX(0%);
      }

    .cerrar-filtros-query {
        display: inline-block;
        background-color: transparent;
        text-align: right;
    }
} 

/* // Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .contenedor-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aside {
        height: 100vh;
        max-width: 270px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;
        transform: translateX(100%);
        background-color: #ffffff;
        margin: 0%;
    }

    .contenedor-ver-como {
        display: none;
    }

    .boton-filtros-query {
        display: flex;
    }

    .filtros-query {
        display: inline-block;
        background-color: transparent;
      }

    .mostrar-filtros-query {
        transform: translateX(0%);
      }

    .cerrar-filtros-query {
        display: inline-block;
        background-color: transparent;
        text-align: right;
    }
} 

.ocultar {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

/* // Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) and (max-width: 991.98px) {

} 

/* // Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) and (max-width: 1199.98px) {

} 

/* // Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {
    
} 